@import 'core/variables';
@import 'core/reset';

.page {
  font-family: $mainfont;
  min-height: 100vh;
  background-image: url('../images/rick-y-morty-fanart-2020_3840x2160_xtrafondos.com.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  min-height: 75vh;
  font-weight: 500;
  text-shadow: 1px 1px 1px $bluemorty;
}
