@import 'core/variables';
@import 'core/reset';
.main__section--list__item {
    background-color: $graphiteblack;
    border: 2px outset $bluemorty;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--image {
      width: 200px;
      height: 200px;
    }
    &--name {
      font-weight: 400;
      font-size: 18px;
      margin: 5px 0px;
    }
   
  }
.link{
  color: $greenrick;
}